
*{
  margin: 0px;
  padding: 0px;
}


.title-x-style{
  font-size:"34px";
  color:"#0dcaf0"
}




h6{
  display: inline;
  color: white;
}

body{
  background-color:gray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.quick-icon-size{
  height: 60px;
  width: 60px;
}

.sidebar-heading{
  font-weight: bold;
  color: #0dcaf0;
  margin-left: 1em;
  

}

hr{
  color: #0dcaf0;
  margin: 1rem
}

/*back button style*/

.drive-container{
  width: 180px;
  height: fit-content;
  font-size: 2em;
  background-color: #5c91c6;
  border-radius: 8px;
}

.search-results-count {
  color:#efa20d;
  background-color: #6d4a06; 
  padding: 1px; 
  margin-bottom: 10px; 
}

.custom-table-heading th {
  background-color: #005559;
  color: white;
  padding: 1px;
}
.custom-navbar {
  background-color:#0a1b1a
}
.table-container {
  
  overflow-y: auto; 
}

.custom-table-heading {
  position: sticky;
  top: 0;
  z-index: 1; 
}

