
*{
  margin: 0px;
  padding: 0px;
}


.title-x-style{
  font-size:"34px";
  color:"#0dcaf0"
}




h6{
  display: inline;
  color: white;
}

body{
  background-color:gray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.quick-icon-size{
  height: 60px;
  width: 60px;
}

.sidebar-heading{
  font-weight: bold;
  color: #0dcaf0;
  margin-left: 1em;
  

}

hr{
  color: #0dcaf0;
  margin: 1rem
}



.drive-container{
  width: 180px;
  height: fit-content;
  font-size: 2em;
  background-color: #5c91c6;
  border-radius: 8px;
}

.search-results-count {
  color:#efa20d;
  background-color: #6d4a06; 
  padding: 1px; 
  margin-bottom: 10px; 

}

.custom-table-heading th {
  background-color: #005559;
  color: white;
  padding: 1px;
}
.custom-navbar {
  background-color:#0a1b1a;
  height:auto
}
.table-container {
  
  overflow-y: auto; 
}

.custom-table-heading {
  position: sticky;
  top: 0;
  z-index: 1; 
}

.custom-table-heading th {
  text-align: left;
}

.name-header {
  float: left;
}

.results-count-header {
  float: right;
}
.total-results-color {
  color: #69aef4;
}
.no-results-message {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
  color: hwb(236 2% 60%); 
}

.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block; 
}

.table-container {
  overflow-y: auto;
  position: relative; 
}

@keyframes gradientMove {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animated-x::after {
  content: 'X';
  display: inline-block;
  background: linear-gradient(90deg, hsl(113, 100%, 42%), #0077cc, hsl(303, 100%, 42%));
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: gradientMove 2s infinite, pulse 1s infinite; 
  font-size: 45px;
}
